[Unit]
Description=ham-cw iambic CW keyer
After=local-fs.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Ham-CW
ExecStart=/usr/local/bin/ham-cw 20
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
